[defaults]
# Attempt to load custom modules whether it's installed system-wide or from a virtual environment
library = /usr/lib/python2.7/site-packages/tripleo-quickstart/playbooks/library:$VIRTUAL_ENV/usr/local/share/tripleo-quickstart/playbooks/library:playbooks/library
roles_path = playbooks/roles:$VIRTUAL_ENV/usr/local/share/tripleo-quickstart/playbooks/roles


[ssh_connection]
control_path = %(directory)s/%%h-%%r
