git+https://git.openstack.org/openstack/tripleo-quickstart-extras/#egg=tripleo-quickstart-extras
git+https://git.openstack.org/openstack/tripleo-ha-utils/#egg=tripleo-ha-utils
git+https://git.openstack.org/openstack/browbeat/#egg=browbeat
git+https://git.openstack.org/openstack/openstack-ansible-os_tempest/#egg=openstack-ansible-os_tempest
git+https://git.openstack.org/openstack/ansible-role-python_venv_build/#egg=ansible-role-python_venv_build
git+https://git.openstack.org/openstack/ansible-config_template/#egg=ansible-config_template
