cmd2>=0.8.5
ansible-core>=2.11,<2.12
jmespath
netaddr>=0.7.18
os-client-config
pbr>=5.4.3
setuptools>=11.3
warlock!=1.3.2
futurist<=1.10.0;python_version=='2.7' # Apache-2.0
futurist;python_version>='3.6' # Apache-2.0
cliff<=2.18.0;python_version=='2.7' # Apache-2.0
clif;python_version>='3.6' # Apache-2.0
oslo.serialization<=2.29.2;python_version=='2.7' # Apache-2.0
oslo.serialization;python_version>='3.6' # Apache-2.0
oslo.utils<=3.42.1;python_version=='2.7' # Apache-2.0
oslo.utils;python_version>='3.6' # Apache-2.0
oslo.config<=7.0.0;python_version=='2.7' # Apache-2.0
oslo.config;python_version>='3.6' # Apache-2.0
