{% set ssh_user = ansible_user|default(ansible_user_id, True) %}
{% if ansible_host is not defined or ansible_host == 'localhost' %}
{% set ssh_host = inventory_hostname %}
{% else %}
{% set ssh_host = ansible_host %}
{% endif %}

{% if hostvars[groups['virthost'][0]].ansible_host is defined %}

Host virthost
    Hostname {{ hostvars[groups['virthost'][0]].ansible_host }}
{% if id_rsa_virt_power_exists is defined %}
    IdentityFile {{ local_working_dir }}/id_rsa_virt_power
{% endif %}
    User {{ ansible_user }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

{% else %}

Host virthost
    Hostname {{ hostvars['localhost'].ansible_default_ipv4.address }}
{% if id_rsa_virt_power_exists is defined %}
    IdentityFile {{ local_working_dir }}/id_rsa_virt_power
{% endif %}
    User {{ ansible_user }}
    StrictHostKeyChecking no
    UserKnownHostsFile=/dev/null

{% endif %}
