---
- include_tasks: get-dlrn-hash.yml
  when: dlrn_hash_tag is defined and dlrn_task_run is not defined

- include_tasks: get-dlrn-hash-newest.yml
  when: dlrn_hash_tag_newest is defined and dlrn_task_run_newest is not defined

- include_tasks: get-dlrn-debug.yml

- include_tasks: set-dependency-repo-vars.yml
  when: job.dependency is defined or dependency is defined

- include_tasks: create-repo-script.yml

- include_tasks: setup_repos.yml
  when: repo_run_live|bool and not use_yum_config_module|default(false)|bool

- include_tasks: setup_repos_new.yml
  when: repo_run_live|bool and use_yum_config_module|default(false)|bool

- include_tasks: inject_repos_into_image.yml
  when: repo_inject_image_path is defined
