# rhbz1304933
-tempest.api.telemetry.test_telemetry_notification_api
# old bug rhbz1272289
-tempest.scenario.test_volume_boot_pattern
-tempest.api.volume.test_volumes_get
# rhbz1266947
-tempest.api.identity.*v3
# rhbz1357667
-tempest.api.data_processing
# lpbug 1605654
-tempest.scenario.test_network_basic_ops.TestNetworkBasicOps
