#!/bin/bash
# Validate the overcloud deployment

set -eux

{% if test_ping|bool %}
{% include 'tripleo-pingtest.sh.j2' %}
{% endif %}

{% if test_tempest|bool %}
{% include 'configure-tempest.sh.j2' %}

{% include 'run-tempest.sh.j2' %}
{% endif %}
