#!/bin/bash
# Validate the overcloud deployment

set -eux

TEST_PING={% if test_ping|bool %}1{% else %}0{% endif %}

PREPARE_TEMPEST={% if prepare_tempest|bool %}1{% else %}0{% endif %}

TEST_TEMPEST={% if test_tempest|bool %}1{% else %}0{% endif %}


if [ ${TEST_PING} == "1" ]; then
{% include 'tripleo-pingtest.sh.j2' %}

fi

if [ ${PREPARE_TEMPEST} == "1" ]; then
{% include 'configure-tempest.sh.j2' %}

fi

if [ ${TEST_TEMPEST} == "1" ]; then
{% include 'run-tempest.sh.j2' %}

fi
