#!/bin/bash

# Validate the overcloud deployment

set -eux

# Translate some ansible variables into shell variables.
# (trown) the new lines in between these are needed so that
# after templating they variable assignments are on separate lines.
TEST_PING={% if test_ping|bool %}1{% else %}0{% endif %}

PREPARE_TEMPEST={% if prepare_tempest|bool %}1{% else %}0{% endif %}

TEST_TEMPEST={% if test_tempest|bool %}1{% else %}0{% endif %}


# Run the appropriate chunk of code if the corresponding variable was set.
if [ ${TEST_PING} == "1" ]; then
{% include 'tripleo-pingtest.sh.j2' %}

fi

if [ ${PREPARE_TEMPEST} == "1" ]; then
{% include 'configure-tempest.sh.j2' %}

fi

if [ ${TEST_TEMPEST} == "1" ]; then
{% include 'run-tempest.sh.j2' %}

fi
