#!/bin/bash
set -eux

### --start_docs

## Setup repositories for the job
## ==============================

## Prepare Your Environment
## ------------------------

## * Execute commands before repositories setup
## ::

{{ repo_cmd_before|default('') }}
{{ dep_repo_cmd_before|default('') }}

# Make temp dir for files
sudo rm -rf /tmp/repo_role_tmp && mkdir -p /tmp/repo_role_tmp

### --stop_docs
