#!/bin/bash
set -eux

### --start_docs

## * Source user rc file to get previous environment variables
## ::

if [ -f {{ repo_setup_env_filepath }} ]; then
    source {{ repo_setup_env_filepath }}
fi

## * Execute commands after repositories setup
## ::

{{ repo_cmd_after|default('') }}
{{ dep_repo_cmd_after|default('') }}

### --stop_docs
