{% set host_ip = (networks |
                  selectattr('name', 'equalto', 'external') |
                  list).0.address %}
{
  "nodes": [
  {% for node in overcloud_nodes %}
    {
      "name": "{{ node.name|replace('_', '-') }}",
      "pm_password": {{ virt_power_key_pvt | to_nice_json }},
      "pm_type": "pxe_ssh",
      "mac": [
        "{{ node_mac_map.get(node.name).get('overcloud') }}"
      ],
      "cpu": "{{ flavors[node.flavor].vcpu }}",
      "memory": "{{ flavors[node.flavor].memory }}",
      "disk": "{{ flavors[node.flavor].disk }}",
      "arch": "{{ libvirt_arch }}",
      "pm_user": "{{ ansible_user_id }}",
      "pm_addr": "{{ host_ip }}",
      "capabilities": "profile:{{ node.flavor }},boot_option:local"
    }
    {% if not loop.last %}
    ,
    {% endif %}
  {% endfor %}
  ],
  "arch": "{{ libvirt_arch }}",
  "host-ip": "{{ host_ip }}",
  "power_manager": "{{ nova_power_manager }}",
  "seed-ip": "",
  "ssh-key": {{ virt_power_key_pvt | to_nice_json }},
  "ssh-user": "{{ ansible_user_id }}"
}
