<pool type='dir'>
  <name>{{ libvirt_volume_pool }}</name>
  <target>
    <path>{{ libvirt_volume_path }}</path>
    <permissions>
      <mode>0755</mode>
      <owner>-1</owner>
      <group>-1</group>
    </permissions>
  </target>
</pool>
