# Create a non-root user on the target host.  This is the user that
# will own the virtual infrastructure on which we deploy openstack.
- name: Create non-root group
  group:
    name: "{{ non_root_group }}"
    state: present
  become: true

- name: Create non-root user
  user:
    name: "{{ non_root_user }}"
    group: "{{ non_root_group }}"
    state: present
    shell: /bin/bash
  become: true

