# Note: Some of the values in this config are missing as they are private credentails or subscription
# manager hashes.  This is to be used by humans only, not by CI.

release: ocata
osp_release: rhos-11

undercloud_image_url: http://uri to a RHEL 7.3. qcow2 file
overcloud_image_url: file:///usr/share/rhosp-director-images/overcloud-full.tar
ipa_image_url: file:///usr/share/rhosp-director-images/ironic-python-agent.tar

use_rhsm: true
rhsm_username:
rhsm_password:
pool_id:
rhel_version_number: 7
osp_release_version_number: 11
rhceph_version_number: 1.3

repo_cmd_before: |
  subscription-manager remove --all || true
  subscription-manager unregister || true
  rm -Rf /etc/yum.repos.d/*.repo
repo_cmd_after: |
  rm -Rf /etc/yum.repos.d/delorean*
  yum repolist
  yum clean all
  yum -y remove rhosp-director-images.noarch
  yum -y install rhosp-director-images.noarch
  md5sum /usr/share/rhosp-director-images/overcloud-full.tar > /usr/share/rhosp-director-images/overcloud-full.tar.md5
  md5sum /usr/share/rhosp-director-images/ironic-python-agent.tar > /usr/share/rhosp-director-images/ironic-python-agent.tar.md5

rhsm_repos:
  - name: rhel-{{ rhel_version_number }}-server-rpms
  - name: rhel-{{ rhel_version_number }}-server-extras-rpms
  - name: rhel-{{ rhel_version_number }}-server-rh-common-rpms
  - name: rhel-ha-for-rhel-{{ rhel_version_number }}-server-rpms
  - name: rhel-{{ rhel_version_number }}-server-openstack-{{ osp_release_version_number }}-rpms
  - name: rhel-{{ rhel_version_number }}-server-rhceph-{{ rhceph_version_number }}-osd-rpms
  - name: rhel-{{ rhel_version_number }}-server-rhceph-{{ rhceph_version_number }}-mon-rpms
