{
  "nodes": [
  {% for node in vms.overcloud.nodes %}
    {
      "pm_password": "{{ virt_power_private_key_txt.stdout }}",
      "pm_type": "pxe_ssh",
      "mac": [
        "{{ node_mac_map.get(node.name).get(networks.bridges[0].name) }}"
      ],
      "cpu": "{{ node.cpus }}",
      "memory": "{{ node.memory }}",
      "disk": "{{ node.disk_size }}",
      "arch": "{{ vms.overcloud.arch }}",
      "pm_user": "{{ virt_power_user }}",
      "pm_addr": "{{ networks.external.ip }}"
    }
    {% if not loop.last %}
    ,
    {% endif %}
  {% endfor %}
  ],
  "arch": "{{ vms.overcloud.arch }}",
  "host-ip": "{{ networks.external.ip }}",
  "power_manager": "{{ nova_power_manager }}",
  "seed-ip": "",
  "ssh-key": "{{ virt_power_private_key_txt.stdout }}",
  "ssh-user": "{{ virt_power_user }}"
}
