<network>
  <name>{{ networks.external.name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='{{ networks.external.port_start }}' end='{{ networks.external.port_end }}'/>
    </nat>
  </forward>
  <bridge name='{{ networks.external.bridge }}' stp='on' delay='0'/>
  <ip address='{{ networks.external.ip }}' netmask='{{ networks.external.netmask }}'>
    <dhcp>
      <range start='{{ networks.external.dhcp_start }}' end='{{ networks.external.dhcp_end }}'/>
    </dhcp>
  </ip>
</network>
