#!/bin/bash

set -eux

FS_TYPE=`findmnt -o FSTYPE -fn /`

if [ "$FS_TYPE" = "xfs" ]; then
    xfs_growfs /
elif [ "$FS_TYPE" = "ext4" ]; then
    resize2fs /dev/sda
else
    echo "ERROR: Unknown filesystem, cannot resize."
    exit 1
fi

yum update -y

yum remove -y cloud-init python-django-horizon openstack-dashboard
yum install -y python-tripleoclient
# NOTE(trown) Install tempest and test packages in a seperate yum transaction
# so that we do not fail the conversion if this install fails. There is a period
# after TripleO uploads a new image, but before the buildlogs repo gets synced,
# where this will fail because we try to install older test packages than the
# service packages already installed in the image.
yum install -y openstack-tempest python-aodh-tests python-ceilometer-tests \
python-heat-tests python-ironic-tests python-keystone-tests python-manila-tests \
python-mistral-tests python-neutron-tests python-sahara-tests python-zaqar-tests \
|| /bin/true

useradd stack
echo "stack ALL=(root) NOPASSWD:ALL" > /etc/sudoers.d/stack
chmod 0440 /etc/sudoers.d/stack

mkdir /home/stack/.ssh

echo "127.0.0.1  localhost undercloud" > /etc/hosts
echo "HOSTNAME=undercloud" >> /etc/sysconfig/network
echo "undercloud" > /etc/hostname

chown -R stack:stack /home/stack/

# Add a 4GB swap file to the Undercloud
dd if=/dev/zero of=/swapfile bs=1024 count=4194304
mkswap /swapfile
chmod 600 /swapfile
# Enable it on start
echo "/swapfile swap swap defaults 0 0" >> /etc/fstab

sed -i 's/SELINUX=enforcing/SELINUX=permissive/' /etc/selinux/config
